<headers th:fragment="not-logged-in-headers"
        class="container-fluid text-center bg-success text-black">
    <link href="https://www.w3schools.com/lib/w3-colors-food.css" rel="stylesheet">
    <h1 class="p-2">Groceries Price Guide</h1>
    <nav class="m-3 p-2">
        <a class="btn btn-light" href="/">Home</a>
        <a class="btn btn-light" href="/register">Register</a>
        <a class="btn btn-light" href="/login">Log in</a>
        <a class="btn btn-light" href="/favorites">Favorites</a>

    </nav>
</headers>


<headers th:fragment="logged-in-headers"
        class="container-fluid text-center bg-dark text-white">
    <h1 class="p-2">Groceries Price Guide</h1>
    <nav class="m-3 p-2">
        <a class="btn btn-light" href="/favorites">Favorites</a>
        <a class="btn btn-light" href="/logout">Logout</a>
    </nav>
</headers>