<header th:fragment="topSection"
        class="top-menu container-fluid text-white p3 mb3 text-center text-bold " >
    <h1 class="p-2">Groceries Price Guide</h1>
    <nav class="m-3 p-2">
        <a class="btn btn-light" href="/">Home</a>
        <a class="btn btn-light" href="/products">Products</a>
        <a class="btn btn-light" href="/register">Register</a>
        <a class="btn btn-light" href="/login">Log in</a>
    </nav>
</header>

<header th:fragment="topSection-logged-in"
        class="top-menu container-fluid bg- text-white p3 mb3 text-center">
    <h1 class="p-2">Groceries Price Guide</h1>
    <nav class="m-3 p-2">
        <a class="btn btn-light" href="/">Home</a>
        <a class="btn btn-light" href="/products">Products</a>
        <a class="btn btn-light" href="/favorites">Favorites</a>
        <a class="btn btn-light" href="/logout">Log out</a>
    </nav>
</header>