<div th:fragment="product-list" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="scrollable-box">
        <table>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Store</th>
                <th>Action</th> <!-- New column for "Add to favorites" -->
            </tr>
            <tr th:each="product : ${products}">
                <td>
                    <img th:src="${product.pictureUrl}" alt="Image Description">
                </td>
                <td>
                    <a th:text="${product.productName}" th:href="${product.productUrl}">Name</a>
                </td>
                <td th:text="${product.productCategory}">Category</td>
                <td th:text="${product.productPrice}">Price</td>
                <td th:text="${product.store}">Store</td>
                <td>
                    <form>
                        <button class="addToFavoritesButton" th:attr="data-product-id=${product.productID}">Add to Favorites</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

<!-- templates/fragments/favorites.js.html -->
    <!-- templates/fragments/favorites.js.html -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        /* Your JavaScript code goes here */
        $(document).ready(function() {
            $(document).on('click', '.addToFavoritesButton', function() {
                var productID = $(this).data('product-id');
                console.log('Product ID:', productID);
                $.ajax({
                    type: 'POST',
                    url: '/favorites/add',
                    data: { productID: productID },
                    success: function(response) {
                        if (response.status === 'success') {
                            alert('Product added to favorites!');
                        } else {
                            alert('Failed to add product to favorites. Error: ' + response.message);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                        alert('Failed to add product to favorites. Please try again later.');
                    }
                });
            });
        });
    </script>
</div>

