<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <title>Products search</title>
    <!--    <link rel="stylesheet" th:href="@{/style.css}"/>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--    <link href="https://www.w3schools.com/lib/w3-colors-food.css" rel="stylesheet">-->
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body>
<header th:replace="~{fragments/headers.html :: topSection}"></header>
<div class="filter-container">
    <form th:action="@{/search}" method="post" class="filter-group">
        <div>
            <label>Select Stores:</label>
            <button type="button" th:onclick="toggleFilter('rimi')">Rimi</button>
            <button type="button" th:onclick="toggleFilter('assorti')">Assorti</button>
            <button type="button" th:onclick="toggleFilter('barbora')">Barbora</button>
        </div>
        <div class="filter-group">
            <label>Select Categories:</label>
            <div id="card1" class="card" th:onclick="toggleFilter('Fruits and vegies')">
                <img class="card-icon" src="	https://png.pngtree.com/png-vector/20190627/ourlarge/pngtree-meat-icon-design-png-image_1515839.jpg" alt="Chicken image">
                Fruits and vegies
                <div class="checkbox-inner">
                    <input id="chicken-checkbox" class="checkbox-input" type="checkbox">
                    <label class="checkbox-label" for="chicken-checkbox"></label>
                </div>
            </div>
            <div id="card2" class="card" th:onclick="toggleFilter('Dairy and eggs')">
                <img class="card-icon" src="	https://png.pngtree.com/png-vector/20190627/ourlarge/pngtree-meat-icon-design-png-image_1515839.jpg" alt="Pork image">
                Dairy and eggs
                <div class="checkbox-inner">
                    <input id="pork-checkbox" class="checkbox-input" type="checkbox">
                    <label class="checkbox-label" for="pork-checkbox"></label>
                </div>
            </div>
            <div id="card3" class="card" th:onclick="toggleFilter('Bakery')">
                <img class="card-icon" src="	https://png.pngtree.com/png-vector/20190627/ourlarge/pngtree-meat-icon-design-png-image_1515839.jpg" alt="Beef image">
                Bakery
                <div class="checkbox-inner">
                    <input id="beef-checkbox" class="checkbox-input" type="checkbox">
                    <label class="checkbox-label" for="beef-checkbox"></label>
                </div>
            </div>
            <div id="card4" class="card" th:onclick="toggleFilter('Meat,fish, and ready meals')">
                <img class="card-icon" src="	https://png.pngtree.com/png-vector/20190627/ourlarge/pngtree-meat-icon-design-png-image_1515839.jpg" alt="Fish image">
                Meat,fish, and ready meals
                <div class="checkbox-inner">
                    <input id="fish-checkbox" class="checkbox-input" type="checkbox">
                    <label class="checkbox-label" for="fish-checkbox"></label>
                </div>
            </div>
            <div id="card5" class="card" th:onclick="toggleFilter('Pantry staples')">
                <img class="card-icon" src="	https://png.pngtree.com/png-vector/20190627/ourlarge/pngtree-meat-icon-design-png-image_1515839.jpg" alt="Bacon image">
                Pantry staples
                <div class="checkbox-inner">
                    <input id="bacon-checkbox" class="checkbox-input" type="checkbox">
                    <label class="checkbox-label" for="bacon-checkbox"></label>
                </div>
            </div>
            <div class="filter-group">
                <input type="text" name="query" placeholder="Search by product name">
                <button type="submit">Filter</button>
            </div>
        </div>
    </form>
</div>
<div id="main-panel">
    <h2>All Products</h2>
    <div th:include="~{fragments/product-list :: product-list}"></div>
</div>

<script>
    let selectedStores = [];
    let selectedCategories = [];

    function toggleFilter(value) {
        if (value.startsWith('productStore')) {
            if (selectedStores.includes(value)) {
                selectedStores = selectedStores.filter(item => item !== value);
            } else {
                if (selectedStores.length < 3) {
                    selectedStores.push(value);
                }
            }
        } else if (value.startsWith('productCategory')) {
            if (selectedCategories.includes(value)) {
                selectedCategories = selectedCategories.filter(item => item !== value);
            } else {
                if (selectedCategories.length < 5) {
                    selectedCategories.push(value);
                }
            }
        }
    }

    // This code updates hidden form fields with the selected stores and categories
    document.querySelector('form').addEventListener('submit', function() {
        document.querySelector('input[name="productStore"]').value = selectedStores.join(',');
        document.querySelector('input[name="productCategory"]').value = selectedCategories.join(',');
    });
</script>

</body>
</html>
